*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    width: 100%; height: 100vh; display: flex; justify-content: center;
    background: linear-gradient(135deg, #153677, #4e085f); 
}

.container_box{
    background: #fff; border-radius: 10px; width: 500px; min-height: 200px;
    /* position: relative; top: 15%; */ height: auto; padding-bottom: 25px;
    align-self: flex-start; margin-top: 140px;
}

header{
    display: flex; flex-direction: row; align-items: center; padding-left: 18px; gap: 8px;
    padding-top: 12px;
}

header h2{
    font-size: 20px; font-weight: 600; color: #153677;
}

.list{
    width: 24px; height: 24px;
}

.input_field{
    display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;
    width: 100%; padding-top: 12px;
}


input{
    padding: 10px; background: #edeef0; font-weight: 14px; border: none; 
    padding-left: 20px; border-radius: 16px; outline: none; width: 55%;
}

button{
    padding: 14px 50px; background: #ff5945; border: none; color: #fff; cursor: pointer; 
    border-radius: 40px; outline: none;
}

.empty{
    width: 24px; height: 24px;
}

i{
    width: 20px; height: 20px; cursor: pointer; color: black;
}

.tasks{
    display: flex; flex-direction: column; padding-left: 18px; gap: 8px; padding-top: 12px;
}

.task-line{
    display: flex; flex-direction: row; align-items: center; width: 100%; gap: 10px;
    display: none;
}

